- is_dark = locals.fetch(:is_dark, false)
- is_available_for_core = tier_hash[:gitlab_core]
- is_available_for_starter = tier_hash[:gitlab_starter]
- is_available_for_premium = tier_hash[:gitlab_premium]
- is_available_for_ultimate = tier_hash[:gitlab_ultimate]
- is_available_for_gitlab_free = tier_hash[:gitlab_free] || (gitlab_com != false && is_available_for_core)
- is_available_for_gitlab_bronze = tier_hash[:gitlab_bronze] || (gitlab_com != false && is_available_for_starter)
- is_available_for_gitlab_silver = tier_hash[:gitlab_silver] || (gitlab_com != false && is_available_for_premium)
- is_available_for_gitlab_gold = tier_hash[:gitlab_gold] || (gitlab_com != false && is_available_for_ultimate)
- core_title = is_available_for_core ? "Available in GitLab self-managed Free" : "Not available in GitLab self-managed Free"
- starter_title = is_available_for_starter ? "Available in GitLab self-managed Starter" : "Not available in GitLab self-managed Starter"
- premium_title = is_available_for_premium ? "Available in GitLab self-managed Premium" : "Not available in GitLab self-managed Premium"
- ultimate_title = is_available_for_ultimate ? "Available in GitLab self-managed Ultimate" : "Not available in GitLab self-managed Ultimate"
- free_title = is_available_for_gitlab_free ? "Available in GitLab SaaS Free" : "Not available in SaaS Free"
- bronze_title = is_available_for_gitlab_bronze ? "Available in GitLab SaaS Bronze" : "Not available in SaaS Bronze"
- silver_title = is_available_for_gitlab_silver ? "Available in GitLab SaaS Premium" : "Not available in SaaS Premium"
- gold_title = is_available_for_gitlab_gold ? "Available in GitLab SaaS Ultimate" : "Not available in GitLab SaaS Ultimate"

.badge-container{ class: "#{'dark' if is_dark}" }
  .badge-container-type SaaS
  .top-row
    %a{ :href => "/pricing/#gitlab-com", "title" => free_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_free}"}<
        FREE
    %a{ :href => "/pricing/#gitlab-com", "title" => silver_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_silver}"}<
        PREMIUM
    %a{ :href => "/pricing/#gitlab-com", "title" => gold_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_gold}"}<
        ULTIMATE
  .badge-container-type Self-Managed
  .bottom-row
    %a{ :href => "/pricing/#self-managed", "title" => core_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_core}"}<
        FREE
    %a{ :href => "/pricing/#self-managed", "title" => premium_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_premium}"}<
        PREMIUM
    %a{ :href => "/pricing/#self-managed", "title" => ultimate_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_ultimate}"}<
        ULTIMATE

